.b-listfilter {
	padding: 0 5px;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	font-size: 14px;
	line-height: 16px
}

.b-listfilter-item {
	position: relative;
	overflow: hidden;
	height: auto;
	zoom: 1;
	padding-left: 36px;
	padding-right: 0;
	border-bottom: 1px dashed #e6e6e6
}

.b-listfilter-item:last-child {
	border-bottom: 0
}

.b-listfilter-item .type {
	position: absolute;
	left: 0;
	top: 5px;
	color: #999;
	padding: 2px 0
}

.b-listfilter-item .item {
	padding: 5px 0
}

.b-listfilter-item .item a {
	float: left;
	margin: 0 0 2px 0;
	padding: 2px 6px;
	zoom: 1;
	height: 16px;
	white-space: nowrap;
	word-wrap: break-word
}

.b-listfilter-item .on:hover,.b-listfilter-item .on {
	background-color: #1db69a;
	color: #fff
}

.b-listfilter-item .act {
	position: absolute;
	right: 0;
	top: 12px;
	height: 16px;
	line-height: 16px
}

.b-listfilter-item .act a {
	padding: 0 13px 0 0;
	display: none
}

.b-listfilter-item .open {
	background: url(http://p6.qhmsg.com/t0187f8287120a671ea.png) right center no-repeat
}

.b-listfilter-item .close {
	background: url(http://p6.qhmsg.com/t018dad77370f0fe67d.png) right center no-repeat
}

.b-listtab {
	margin-top: 20px;
	color: #222;
	font-size: 12px;
	*margin-bottom: 20px
}

.b-listtab .tab-line {
	width: 100%;
	height: 39px;
	background: #fff;
	border: 1px solid #e6e6e6;
	border-bottom: 2px solid #1db69a
}

.b-listtab .tab {
	float: left;
	z-index: 1
}

.b-listtab .tab-item {
	position: relative;
	float: left;
	display: inline;
	height: 39px;
	line-height: 39px;
	width: 83px
}

.b-listtab .tab-item a {
	float: left;
	height: 39px;
	width: 83px;
	text-align: center;
	overflow: hidden;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	background: #fff;
	white-space: nowrap
}

.b-listtab .tab-cur a {
	position: absolute;
	border-left: 1px solid #1db69a;
	border-right: 1px solid #1db69a;
	border-top: 3px solid #1db69a;
	top: -1px;
	left: -1px;
	height: 39px;
	text-indent: 1px;
	z-index: 2;
	background: #f4f4f4;
	*width: 82px
}

.b-listtab .tab-item span {
	position: absolute;
	width: 1px;
	background: #d8d8d8;
	overflow: hidden;
	height: 17px;
	top: 10px;
	right: 0
}

.b-listtab .tab-cur span {
	display: none
}

.b-listtab .app {
	float: right;
	line-height: 39px
}

.b-listtab .app span {
	color: #cb0000;
	padding: 0 2px
}

.b-listtab .app a {
	display: inline-block;
	width: 80px;
	height: 31px;
	line-height: 31px;
	text-align: center;
	color: #fff;
	background: #1db69a;
	border-radius: 2px;
	margin: 5px 6px
}

.b-listtab .app a:hover {
	color: #fff;
	background: #189a83
}

.b-listtab-main {
	margin-top: 20px;
	overflow: hidden
}

.b-listtab-main .list {
	margin-left: -20px
}

.b-listtab-main .item {
	float: left;
	width: 155px;
	height: 250px;
	border-bottom: 1px solid #e9e9e9;
	margin: 0 0 15px 15px
}

.b-listtab-main .cover {
	width: 100%;
	height: 200px;
	overflow: hidden;
	position: relative;
	font-size: 12px
}

.b-listtab-main .cover img {
	width: 100%;
	height: 100%
}

.b-listtab-main .pay {
	position: absolute;
	top: 4px;
	left: 4px;
	display: block;
	width: 39px;
	height: 19px;
	line-height: 19px;
	background: #cd1919;
	color: #fff;
	text-align: center;
	border-radius: 2px
}

.b-listtab-main .hint {
	position: absolute;
	right: 4px;
	bottom: 4px;
	padding: 2px 6px;
	background: rgba(0,0,0,0.8);
	color: #fff;
	border-radius: 2px
}

.b-listtab-main .detail {
	width: 100%;
	height: 53px;
	background: #fff
}

.b-listtab-main .title {
	font-size: 14px;
	padding: 7px 5px 3px 5px
}

.b-listtab-main .title .s1 {
	display: inline-block;
	float: left;
	width: 144px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #222
}

.b-listtab-main .title .s2 {
	float: right;
	color: #ff7b00;
	font-size: 16px
}

.b-listtab-main .star {
	font-size: 12px;
	color: #999;
	margin: 0 5px;
	width: 145px;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.ew-page {
	color: #222;
	font-size: 12px;
	text-align: center
}

.ew-page a {
	border: 1px solid #e6e6e6;
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	background-color: #fff;
	text-align: center;
	margin: 0 4px;
	color: #222
}

.ew-page span {
	display: inline-block;
	width: 38px;
	color: #222
}

.ew-page .btn {
	width: 72px
}

.ew-page a:hover {
	color: #1db69a;
	border: 1px solid #1db69a
}

.ew-page .on:hover,.ew-page .on {
	cursor: default;
	border: 1px solid #1db69a;
	color: #fff;
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	background-color: #1db69a;
	text-align: center;
	margin: 0 4px
}

.eb-mediav-500 {
	float: left;
	width: 498px;
	height: 88px;
	border: 1px solid #b0dbd4;
	overflow: hidden
}

.eb-mediav-500 .logo {
	display: block;
	float: left;
	width: 50px;
	height: 90px
}

.eb-mediav-500 .list {
	padding: 0 3px;
	z-index: 1
}

.eb-mediav-500 .list li {
	float: left;
	width: 85px;
	height: 88px;
	overflow: hidden;
	margin-left: 3px
}

.eb-mediav-500 .item {
	display: block;
	width: 100%;
	height: 100%;
	position: relative
}

.eb-mediav-500 .item img {
	width: 100%;
	height: 100%
}

.eb-mediav-500 .item .hint {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 86px;
	height: 20px;
	background: #fff;
	opacity: .9
}

.eb-mediav-500 .item:hover .hint {
	height: 100%
}

.eb-mediav-500 .item .price {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #ff1313;
	font-size: 14px
}

.eb-mediav-500 .item .desc {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 76px;
	height: 48px;
	line-height: 16px;
	overflow: hidden;
	font-size: 12px;
	color: #333;
	display: none
}

.eb-mediav-500 .item:hover .desc {
	display: block
}

.eb-mediav-500 .item-360video .hint,.eb-mediav-500 .item-360video .price,.eb-mediav-500 .item-360video .desc,.eb-mediav-500 .item-360video:hover .desc {
	display: none
}

.eb-mediav-500 .appdown {
	display: block;
	width: 100%;
	height: 100%
}

.eb-mediav-500 .appdown img {
	width: 100%;
	height: 100%
}

.eb-mediav-500 .list-wrapper {
	width: 448px;
	height: 100%;
	position: relative;
	overflow: hidden;
	float: left
}

.eb-mediav-500 .list-wrapper b {
	z-index: 2;
	position: absolute;
	top: 15px;
	width: 20px;
	height: 45px;
	cursor: pointer;
	background-image: url(http://p0.qhimg.com/t01776acc478f788c42.png);
	background-repeat: no-repeat
}

.eb-mediav-500 .list-wrapper .btn-l {
	background-position: 0 0;
	left: 0
}

.eb-mediav-500 .list-wrapper .btn-l:hover {
	background-position: 0 -45px
}

.eb-mediav-500 .list-wrapper .btn-r {
	background-position: 0 -90px;
	right: 0
}

.eb-mediav-500 .list-wrapper .btn-r:hover {
	background-position: 0 -135px
}

.eb-mediav {
	width: 100%
}

.eb-mediav-wide {
	width: 1180px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	display: none;
	margin-top: 40px
}

.eb-mediav-950 {
	display: block;
	width: 950px;
	height: 90px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 40px
}

.eb-mediav-660 {
	float: left;
	width: 660px;
	height: 90px;
	margin-right: 20px
}

.g-wide .eb-mediav-950 {
	display: none
}

.g-wide .eb-mediav-wide {
	display: block
}

.g-wide .eb-mediav-small .eb-mediav-950 {
	display: block
}

.p-body .eb-mediav-500 .list {
	width: 448px
}

.g-slide {
	position: relative;
	overflow: hidden
}

.g-slide-item {
	position: absolute;
	top: 0;
	left: 0;
	display: none
}

.g-slide-item:first-child {
	display: block
}

.eb-signin-signup {
	overflow: hidden;
	*zoom: 1;
	background-color: #fff;
	height: 390px
}

.eb-signin input:-ms-input-placeholder,textarea:-ms-input-placeholder {
	color: #dadada;
	font-size: 14px
}

.eb-signin input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	color: #dadada;
	font-size: 14px
}

.eb-registe-nav-topline {
	background-color: #e5e8e9;
	width: 596px
}

.eb-signin {
	width: 598px;
	background-color: #fff
}

.eb-signin-top {
	width: 596px;
	background-color: #475e5e
}

.eb-signin-nav {
	background-color: #a6b1b1
}

.eb-signin-topline {
	background-color: #909e9e;
	width: 594px
}

.eb-signin-topline-in {
	background-color: #bac2c3;
	width: 592px
}

.eb-signin-topline p {
	background-color: #bac2c3
}

.b-line {
	margin: 0 auto;
	height: 1px;
	font-size: 0
}

.eb-signin-nav-topline {
	background-color: #e5e8e9;
	width: 594px
}

.eb-signin-nav-bomline {
	background-color: #eff1f1
}

.eb-signin-nav-bomline p {
	background-color: #e5e8e9;
	width: 596px
}

.eb-signin-nav-title {
	background-color: #e5e8e9;
	padding: 0 40px;
	position: relative
}

.eb-signin-nav-title span {
	font-size: 20px;
	width: 106px;
	display: inline-block;
	text-align: center;
	margin: 0 74px 0 0;
	color: #5c5757;
	line-height: 66px;
	height: 66px
}

.eb-signin-btn,.b-reg-btn {
	cursor: pointer
}

.eb-signin-nav .active {
	border-bottom: 2px solid #27ae60;
	color: #27ae60;
	*line-height: 68px
}

.eb-signin-nav .b-reg-active {
	border-bottom: 2px solid #e50065;
	color: #e50065;
	*line-height: 68px
}

.eb-signin-nav-title .b-reg-btn {
	margin-right: 41px
}

.eb-signin-nav-title .eb-signin-icon {
	margin: 0;
	background: #e5e8e9 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 0 no-repeat;
	width: 162px;
	height: 20px;
	padding: 0;
	overflow: hidden
}

.eb-signin-nav-title .b-regicon-active {
	background-position: 1px -21px
}

.eb-signin-nav-title b,.eb-signin-forget-nav-title b {
	cursor: pointer;
	width: 23px;
	height: 23px;
	position: absolute;
	top: 8px;
	right: 10px;
	background: #e7e9e9 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -170px 0 no-repeat
}

.eb-signin-error {
	height: 38px;
	line-height: 38px;
	color: #f00;
	padding-left: 40px;
	font-size: 14px
}

.eb-signin-error b {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -186px -151px no-repeat;
	vertical-align: middle;
	margin-right: 8px
}

.eb-signin-content {
	padding-left: 40px
}

.eb-signin-c-left {
	float: left;
	width: 303px
}

.eb-signin-cl-newlogin div,.eb-signin-cl-reg div,.eb-signin-fg-con p,.eb-signin-rs-con div {
	height: 40px;
	width: 288px;
	line-height: 40px;
	position: relative;
	margin-bottom: 8px;
	vertical-align: top;
	overflow: hidden;
	*zoom: 1
}

.eb-signin-c-tel {
	background: #e7e9e9 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -195px no-repeat
}

.eb-signin-c-tel-hover {
	background: #e7e9e9 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -524px no-repeat
}

.eb-signin-c-pwd {
	background: #e7e9e9 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -235px no-repeat
}

.eb-signin-c-pwd-hover {
	background: #e7e9e9 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -564px no-repeat
}

.eb-signin-c-code div {
	background: #e7e9e9 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -114px -359px no-repeat
}

.eb-signin-cl-newlogin input,.eb-signin-cl-reg input,.eb-signin-fg-con input,.eb-signin-rs-con input {
	width: 242px;
	height: 22px;
	font: 16px/18px arial;
	line-height: 22px\9;
	margin: 8px 10px 0 35px;
	padding: 0;
	border: 0
}

.eb-signin-cl-newlogin span,.eb-signin-cl-reg span {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 251px;
	padding-left: 35px;
	font-size: 14px;
	color: #dadada
}

.eb-signin-cl-newlogin .eb-signin-c-code div {
	width: 168px;
	float: left
}

.eb-signin-cl-newlogin .eb-signin-c-code input {
	margin: 1px 0 0 10px;
	width: 147px;
	float: left
}

.eb-signin-c-code b {
	display: block;
	float: left;
	width: 111px;
	height: 40px;
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -358px no-repeat;
	margin-left: 9px
}

.eb-signin-cl-newlogin .eb-signin-c-code span {
	width: 157px;
	padding-left: 10px
}

.eb-signin-cl-newlogin .eb-signin-c-check,.eb-signin-cl-reg .eb-signin-reg-clew {
	height: 21px;
	line-height: 21px;
	margin-bottom: 18px
}

.eb-signin-c-check b {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -229px -144px no-repeat;
	width: 21px;
	height: 21px;
	display: inline-block;
	cursor: pointer;
	float: left
}

.eb-signin-reg-clew b {
	background-position: -229px -173px
}

.eb-signin-cl-newlogin .eb-signin-c-check p {
	line-height: 21px;
	height: 21px;
	color: #888;
	padding-left: 10px;
	display: inline;
	margin: 0;
	vertical-align: top;
	*vertical-align: 3px;
	float: left
}

.eb-signin-c-check b .eb-signin-cl-newlogin .eb-signin-c-check p {
	float: left
}

.eb-signin-c-check .b-nocheck,.eb-signin-reg-clew .b-nocheck {
	background-position: -229px -116px
}

.eb-signin-cl-newlogin .eb-signin-c-check .eb-signin-c-check-tel {
	float: right;
	color: #e50065;
	cursor: pointer
}

.eb-signin-c-btn {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -276px no-repeat;
	text-align: center;
	cursor: pointer;
	position: relative
}

.eb-signin-cl-newlogin .eb-signin-c-btn-hover {
	position: absolute;
	top: 0;
	left: 0;
	opacity: .1;
	filter: Alpha(opacity=10);
	background: #000;
	_background: 0;
	display: none
}

.eb-signin-cl-newlogin .eb-signin-c-btn b,.eb-signin-reg-btn b,.eb-signin-rs-btn b {
	font-size: 18px;
	color: #fff
}

.eb-signin-reg-btn b,.eb-signin-fg-btn b,.eb-signin-rs-btn b {
	padding: 0 15px
}

.eb-signin-cl-newlogin p {
	text-align: right;
	margin-right: 15px;
	color: #888;
	font-size: 14px;
	height: 14px;
	line-height: 14px
}

.eb-signin-cl-newlogin p span {
	cursor: pointer;
	position: relative;
	color: #888;
	display: inline;
	margin: 0;
	padding: 0
}

.eb-signin-reg-tel,.eb-signin-reg-pwd {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -400px no-repeat
}

.eb-signin-cl-reg .eb-signin-reg-code {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -114px -359px no-repeat
}

.eb-signin-reg-code div {
	display: inline-block;
	width: 168px
}

.eb-signin-cl-reg input {
	width: 267px;
	margin-left: 10px
}

.eb-signin-reg-code input {
	margin-left: 10px;
	width: 147px
}

.eb-signin-cl-reg span {
	padding-left: 10px;
	width: 277px
}

.eb-signin-cl-reg .eb-signin-reg-clew p {
	font-size: 14px;
	display: inline-block;
	*display: inline
}

.eb-signin-reg-clew a {
	color: #e50065
}

.eb-signin-reg-code b,.eb-signin-fg-codewrap b {
	display: inline-block;
	width: 111px;
	height: 40px;
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -358px no-repeat;
	margin-left: 9px;
	cursor: pointer;
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 40px
}

.eb-signin-c-right {
	float: left
}

.eb-signin-contentwrap {
	position: relative;
	padding-bottom: 60px
}

.eb-signin-forgetlink {
	display: none
}

.ea-login :-moz-placeholder {
	color: #dadada;
	font-size: 14px
}

.ea-login ::-moz-placeholder {
	color: #dadada;
	font-size: 14px
}

.ea-login input:-ms-input-placeholder,textarea:-ms-input-placeholder {
	color: #dadada;
	font-size: 14px
}

.ea-login input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	color: #dadada;
	font-size: 14px
}

.ea-login {
	-webkit-box-shadow: 2px 2px 10px rgba(0,0,0,.3);
	box-shadow: 2px 2px 10px rgba(0,0,0,.3);
	overflow: hidden
}

.ea-login input {
	outline: 0
}

.ea-dialog-closebtn {
	position: absolute;
	top: 8px;
	right: 10px;
	display: block;
	cursor: pointer;
	width: 23px;
	height: 23px;
	position: absolute;
	background: #e7e9e9 url(http://p9.qhimg.com/t018181209a7f56f54d.png) -170px 0 no-repeat;
	z-index: 902
}

b.js-close.ea-dialog-closebtn:hover {
	background: #e7e9e9 url(http://p9.qhimg.com/t018181209a7f56f54d.png) -194px 0 no-repeat
}

.g-dialog {
	z-index: 999;
	display: none;
	position: absolute
}

.g-dialog-fixed {
	position: fixed;
	_position: absolute;
	_top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight*0.5))
}

.g-dialog-shim,.g-dialog-shimwrap {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0
}

.g-dialog-shim {
	position: absolute;
	z-index: 900
}

.g-dialog-shimwrap {
	position: relative;
	z-index: 901
}

* html,* html body {
	background-image: url(about:blank);
	background-attachment: fixed
}

.g-mask {
	position: fixed;
	_position: absolute;
	z-index: 900;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: #000;
	filter: alpha(opacity=50);
	opacity: .5;
	transform: translate3d(0,0,0)
}

.g-mask iframe {
	overflow: hidden;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=0);
	opacity: 0
}

.eb-otherlogin {
	width: 214px;
	height: 223px
}

.eb-otherlogin-c-right p {
	font-size: 0;
	height: 1px;
	background-color: #eef1f2;
	margin: 0 auto
}

.eb-otherlogin-c-right .eb-otherlogin-cr-line1 {
	width: 208px;
	background-color: #f5f6f5
}

.eb-otherlogin-c-right p span {
	height: 1px;
	font-size: 0;
	background-color: #eef1f2;
	display: block;
	margin: 0 auto
}

.eb-otherlogin-cr-line1 span {
	width: 206px
}

.eb-otherlogin-cr-line2 {
	width: 210px
}

.eb-otherlogin-cr-line3 {
	width: 212px
}

.eb-otherlogin-c-right .eb-otherlogin-cr-line4 {
	width: 214px;
	background-color: #f5f6f5
}

.eb-otherlogin-cr-line4 span {
	width: 212px
}

.eb-otherlogin-right-wrap {
	background-color: #eef1f2;
	padding: 9px 0;
	text-align: center
}

.eb-otherlogin-right-wrap span {
	color: #757373;
	font-size: 14px
}

.eb-otherlogin-right-wrap div {
	height: 38px;
	line-height: 38px;
	width: 180px;
	cursor: pointer;
	margin: 0 auto 12px
}

.eb-otherlogin-right-wrap div span {
	color: #fff
}

.eb-otherlogin-right-wrap .eb-otherlogin-right-qqbtn {
	background: #eef1f2 url(http://p9.qhimg.com/t018181209a7f56f54d.png) 0 -42px no-repeat;
	margin-top: 20px
}

.eb-otherlogin-right-wrap .eb-otherlogin-right-wbbtn {
	background: #eef1f2 url(http://p9.qhimg.com/t018181209a7f56f54d.png) 0 -118px no-repeat
}

.eb-otherlogin-right-wrap .eb-otherlogin-right-other {
	padding: 10px 17px;
	text-align: left;
	margin: 0;
	cursor: default
}

.eb-otherlogin-right-other b {
	display: inline-block;
	width: 38px;
	height: 38px;
	font-size: 0;
	cursor: pointer;
	margin-right: 32px
}

.eb-otherlogin-ro-wx {
	background: #eef1f2 url(http://p9.qhimg.com/t018181209a7f56f54d.png) -260px -1px no-repeat
}

.eb-otherlogin-ro-360 {
	background: #eef1f2 url(http://p9.qhimg.com/t018181209a7f56f54d.png) -182px -38px no-repeat
}

.eb-otherlogin-right-other .eb-otherlogin-ro-zfb {
	background: #eef1f2 url(http://p9.qhimg.com/t018181209a7f56f54d.png) -220px 0 no-repeat;
	margin-right: 0;
	cursor: default
}

.eb-otherlogin-reg-btn,.eb-otherlogin-fg-btn,.eb-otherlogin-rs-btn {
	background: #fff url(http://p9.qhimg.com/t018181209a7f56f54d.png) 0 -317px no-repeat;
	text-align: center;
	cursor: pointer
}

.eb-otherlogin-right-qqbtn:hover {
	background: #eef1f2 url(http://p9.qhimg.com/t018181209a7f56f54d.png) 0 -80px no-repeat
}

.eb-otherlogin-right-wbbtn:hover {
	background: #eef1f2 url(http://p9.qhimg.com/t018181209a7f56f54d.png) 0 -156px no-repeat
}

b.eb-otherlogin-ro-wx:hover {
	background: #eef1f2 url(http://p9.qhimg.com/t018181209a7f56f54d.png) -260px -40px no-repeat
}

b.eb-otherlogin-ro-360:hover {
	background: #eef1f2 url(http://p9.qhimg.com/t018181209a7f56f54d.png) -182px -76px no-repeat
}

.eb-signclew {
	position: absolute;
	top: 0;
	left: 0;
	opacity: .6;
	filter: alpha(opacity=60);
	background-color: #000;
	width: 100%;
	height: 100%;
	display: none
}

.eb-signclewwrap {
	position: relative
}

.eb-signclew-bg {
	position: absolute;
	top: 35px;
	left: 73px;
	background: transparent url(http://p9.qhmsg.com/t0151ed4c2193d719ec.png) 0 0 no-repeat;
	height: 209px;
	width: 402px;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://p9.qhmsg.com/t0151ed4c2193d719ec.png");
	_background: 0
}

.eb-signclewwrap b {
	display: block;
	position: absolute;
	cursor: pointer
}

.eb-signclew-close1 {
	top: 103px;
	left: 352px;
	width: 26px;
	height: 26px;
	background: transparent url(http://p1.qhmsg.com/t01a375df974d38c391.png) 0 0 no-repeat;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://p3.qhmsg.com/t014ececc73d35a1bbc.png");
	_background: 0
}

.eb-signclew-close2 {
	top: 192px;
	left: 287px;
	width: 120px;
	height: 43px;
	background: transparent url(http://p1.qhmsg.com/t01a375df974d38c391.png) 0 -28px no-repeat;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://p7.qhmsg.com/t01b3f65466014bafbc.png");
	_background: 0
}

.eb-registe input:-ms-input-placeholder,textarea:-ms-input-placeholder {
	color: #dadada;
	font-size: 14px
}

.eb-registe input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	color: #dadada;
	font-size: 14px
}

.eb-registe {
	width: 598px;
	height: 450px;
	background-color: #fff
}

.eb-registe-top {
	width: 596px;
	background-color: #475e5e
}

.eb-registe-nav {
	background-color: #a6b1b1
}

.eb-registe-topline {
	background-color: #909e9e;
	width: 594px
}

.eb-registe-topline-in {
	background-color: #bac2c3;
	width: 592px
}

.eb-registe-topline p {
	background-color: #bac2c3
}

.b-line {
	margin: 0 auto;
	height: 1px;
	font-size: 0
}

.eb-registe-nav-topline {
	background-color: #e5e8e9;
	width: 596px
}

.eb-registe-nav-bomline {
	background-color: #eff1f1
}

.eb-registe-nav-bomline p {
	background-color: #e5e8e9;
	width: 596px
}

.eb-registe-nav-title {
	background-color: #e5e8e9;
	padding: 0 40px;
	position: relative
}

.eb-registe-nav-title span {
	font-size: 20px;
	width: 106px;
	display: inline-block;
	text-align: center;
	margin: 0 74px 0 0;
	color: #5c5757;
	line-height: 66px;
	height: 66px
}

.eb-registe-btn,.b-reg-btn {
	cursor: pointer
}

.eb-registe-nav .active {
	border-bottom: 2px solid #e50065;
	color: #e50065;
	*line-height: 68px
}

.eb-registe-nav-title .b-reg-btn {
	margin-right: 41px
}

.eb-registe-nav-title .eb-registe-icon {
	margin: 0;
	background: #e5e8e9 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 0 no-repeat;
	width: 162px;
	height: 20px;
	padding: 0;
	overflow: hidden
}

.eb-registe-nav-title .b-regicon-active {
	background-position: 1px -21px
}

.eb-registe-nav-title b,.eb-registe-forget-nav-title b {
	cursor: pointer;
	width: 23px;
	height: 23px;
	position: absolute;
	top: 8px;
	right: 10px;
	background: #e7e9e9 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -170px 0 no-repeat
}

.eb-registe-error {
	height: 38px;
	line-height: 38px;
	color: #f00;
	padding-left: 40px;
	font-size: 14px
}

.eb-registe-error b {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -186px -151px no-repeat;
	vertical-align: middle;
	margin-right: 8px
}

.eb-registe-content {
	padding-left: 40px
}

.eb-registe-c-left {
	float: left;
	width: 303px
}

.eb-registe-cl-newlogin div,.eb-registe-cl-reg div,.eb-registe-fg-con p,.eb-registe-rs-con div {
	height: 40px;
	width: 288px;
	line-height: 40px;
	position: relative;
	margin-bottom: 8px;
	vertical-align: top;
	overflow: hidden;
	*zoom: 1
}

.eb-registe-c-tel {
	background: #e7e9e9 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -195px no-repeat
}

.eb-registe-c-pwd {
	background: #e7e9e9 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -235px no-repeat
}

.eb-registe-c-code div {
	background: #e7e9e9 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -114px -359px no-repeat
}

.eb-registe-cl-newlogin input,.eb-registe-cl-reg input,.eb-registe-fg-con input,.eb-registe-rs-con input {
	width: 242px;
	height: 22px;
	font: 16px/18px arial;
	line-height: 22px\9;
	margin: 8px 10px 0 35px;
	padding: 0;
	border: 0
}

.eb-registe-cl-newlogin span,.eb-registe-cl-reg span {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 251px;
	padding-left: 35px;
	font-size: 14px;
	color: #dadada
}

.eb-registe-cl-newlogin .eb-registe-c-code div {
	width: 168px;
	float: left
}

.eb-registe-cl-newlogin .eb-registe-c-code input {
	margin: 1px 0 0 10px;
	width: 147px;
	float: left
}

.eb-registe-c-code b {
	display: block;
	float: left;
	width: 111px;
	height: 40px;
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -358px no-repeat;
	margin-left: 9px
}

.eb-registe-cl-newlogin .eb-registe-c-code span {
	width: 157px;
	padding-left: 10px
}

.eb-registe-cl-newlogin .eb-registe-c-check,.eb-registe-cl-reg .eb-registe-reg-clew {
	height: 21px;
	line-height: 21px;
	margin: 18px 0
}

.eb-registe-c-check b,.eb-registe-reg-clew b {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -229px -144px no-repeat;
	width: 21px;
	height: 21px;
	display: inline-block;
	cursor: pointer
}

.eb-registe-reg-clew b {
	background-position: -229px -173px
}

.eb-registe-cl-newlogin .eb-registe-c-check p,.eb-registe-reg-clew p {
	line-height: 21px;
	height: 21px;
	color: #888;
	padding-left: 10px;
	display: inline;
	margin: 0;
	vertical-align: top;
	*vertical-align: 3px
}

.eb-registe-c-check .b-nocheck,.eb-registe-reg-clew .b-nocheck {
	background-position: -229px -116px
}

.eb-registe-c-btn {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -276px no-repeat;
	text-align: center;
	cursor: pointer
}

.eb-registe-cl-newlogin .eb-registe-c-btn b,.eb-registe-reg-btn b,.eb-registe-rs-btn b {
	font-size: 18px;
	color: #fff
}

.eb-registe-reg-btn b,.eb-registe-fg-btn b,.eb-registe-rs-btn b {
	padding: 0 15px
}

.eb-registe-cl-newlogin p {
	text-align: right;
	margin-right: 15px;
	color: #888;
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	cursor: pointer
}

.eb-registe-reg-tel,.eb-registe-reg-pwd {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -400px no-repeat
}

.eb-registe-reg-tel-hover,.eb-registe-reg-pwd-hover {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -605px no-repeat
}

.eb-registe-cl-reg .eb-registe-reg-code {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -114px -359px no-repeat;
	position: relative
}

.eb-registe-cl-reg .eb-registe-reg-code-hover {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -645px no-repeat
}

.eb-registe-cl-reg .eb-registe-reg-codeb-hover {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	opacity: .1;
	filter: Alpha(opacity=10);
	background: #000;
	_background: 0;
	width: 111px;
	height: 40px
}

.eb-registe-reg-code div {
	display: inline-block;
	width: 168px
}

.eb-registe-cl-reg input {
	width: 267px;
	margin-left: 10px
}

.eb-registe-reg-code input {
	margin-left: 10px;
	width: 147px
}

.eb-registe-reg-code img {
	margin-left: 10px;
	width: 110px;
	height: 40px;
	cursor: pointer;
	vertical-align: top;
	background: url(http://p7.qhmsg.com/t0185d053f3fadbf4d6.gif) center center no-repeat
}

.eb-registe-cl-reg span {
	padding-left: 10px;
	width: 277px
}

.eb-registe-cl-reg .eb-registe-reg-clew p {
	font-size: 14px;
	display: inline-block;
	*display: inline
}

.eb-registe-reg-clew a {
	color: #e50065
}

.eb-registe-reg-code b,.eb-registe-fg-codewrap b {
	display: inline-block;
	width: 111px;
	height: 40px;
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -358px no-repeat;
	margin-left: 9px;
	cursor: pointer;
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 40px
}

.eb-registe-reg-code b {
	*position: absolute;
	*right: 0;
	*top: 0
}

.eb-registe-reg-code .eb-registe-reg-sendcode {
	background-position: 0 -442px;
	cursor: default
}

.eb-registe-c-right {
	float: left
}

.eb-registe-reg-btn {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -317px no-repeat;
	text-align: center;
	cursor: pointer;
	position: relative
}

.eb-registe-cl-reg .eb-registe-reg-btn-hover {
	position: absolute;
	top: 0;
	left: 0;
	opacity: .1;
	filter: Alpha(opacity=10);
	background: #000;
	_background: 0;
	display: none
}

.eb-registe-signup {
	height: 100%
}

.eb-registe-contentwrap {
	position: relative;
	padding-bottom: 52px
}

.eb-registe-cl-reg .eb-registe-reg-code div {
	*display: inline
}

.eb-registe-cl-reg .eb-registe-changeclew {
	height: 14px;
	line-height: 14px;
	text-align: right
}

.eb-registe-cl-reg .eb-registe-changeclew span {
	color: #e50065;
	display: inline;
	position: static;
	cursor: pointer;
	text-decoration: underline;
	vertical-align: top
}

.eb-retrivepwd {
	width: 598px;
	background-color: #fff;
	height: 450px
}

.eb-retrivepwd-top {
	width: 596px;
	background-color: #475e5e
}

.eb-retrivepwd-nav {
	background-color: #a6b1b1
}

.eb-retrivepwd-topline {
	background-color: #909e9e;
	width: 594px
}

.eb-retrivepwd-topline-in {
	background-color: #bac2c3;
	width: 592px
}

.eb-retrivepwd-topline p {
	background-color: #bac2c3
}

.b-line {
	margin: 0 auto;
	height: 1px;
	font-size: 0
}

.eb-retrivepwd-fg-con {
	margin-bottom: 13px
}

.eb-retrivepwd-btn,.b-reg-btn {
	cursor: pointer
}

.eb-retrivepwd-error,.eb-retrivepwd-fg-error {
	height: 38px;
	line-height: 38px;
	color: #f00;
	padding-left: 40px;
	font-size: 14px
}

.eb-retrivepwd-content {
	padding-left: 40px
}

.eb-retrivepwd-c-left {
	float: left;
	width: 303px
}

.eb-retrivepwd-cl-newlogin div,.eb-retrivepwd-cl-reg div,.eb-retrivepwd-fg-con p,.eb-retrivepwd-rs-con div {
	height: 40px;
	width: 288px;
	line-height: 40px;
	position: relative;
	margin-bottom: 8px;
	vertical-align: top;
	overflow: hidden;
	*zoom: 1
}

.eb-retrivepwd-c-tel {
	background: #e7e9e9 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -195px no-repeat
}

.eb-retrivepwd-c-pwd {
	background: #e7e9e9 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -235px no-repeat
}

.eb-retrivepwd-c-code div {
	background: #e7e9e9 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -114px -359px no-repeat
}

.eb-retrivepwd-cl-newlogin input,.eb-retrivepwd-cl-reg input,.eb-retrivepwd-fg-con input,.eb-retrivepwd-rs-con input {
	width: 242px;
	height: 22px;
	font: 16px/18px arial;
	line-height: 22px\9;
	margin: 9px 10px 0 35px;
	padding: 0;
	border: 0
}

.eb-retrivepwd-cl-newlogin span,.eb-retrivepwd-cl-reg span {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 251px;
	padding-left: 35px;
	font-size: 14px;
	color: #dadada
}

.eb-retrivepwd-cl-newlogin .eb-retrivepwd-c-code div {
	width: 168px;
	float: left
}

.eb-retrivepwd-cl-newlogin .eb-retrivepwd-c-code input {
	margin: 1px 0 0 10px;
	width: 147px;
	float: left
}

.eb-retrivepwd-c-code b {
	display: block;
	float: left;
	width: 111px;
	height: 40px;
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -358px no-repeat;
	margin-left: 9px
}

.eb-retrivepwd-cl-newlogin .eb-retrivepwd-c-code span {
	width: 157px;
	padding-left: 10px
}

.eb-retrivepwd-cl-newlogin .eb-retrivepwd-c-check,.eb-retrivepwd-cl-reg .eb-retrivepwd-reg-clew {
	height: 21px;
	line-height: 21px;
	margin-bottom: 18px
}

.eb-retrivepwd-c-check b,.eb-retrivepwd-reg-clew b {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -229px -144px no-repeat;
	width: 21px;
	height: 21px;
	display: inline-block;
	cursor: pointer
}

.eb-retrivepwd-reg-clew b {
	background-position: -229px -173px
}

.eb-retrivepwd-cl-newlogin .eb-retrivepwd-c-check p,.eb-retrivepwd-reg-clew p {
	line-height: 21px;
	height: 21px;
	color: #888;
	padding-left: 10px;
	display: inline;
	margin: 0;
	vertical-align: top;
	*vertical-align: 3px
}

.eb-retrivepwd-c-check .b-nocheck,.eb-retrivepwd-reg-clew .b-nocheck {
	background-position: -229px -116px
}

.eb-retrivepwd-c-btn {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -276px no-repeat;
	text-align: center;
	cursor: pointer
}

.eb-retrivepwd-cl-newlogin .eb-retrivepwd-c-btn b,.eb-retrivepwd-reg-btn b,.eb-retrivepwd-rs-btn b {
	font-size: 18px;
	color: #fff
}

.eb-retrivepwd-reg-btn b,.eb-retrivepwd-fg-btn b,.eb-retrivepwd-rs-btn b {
	padding: 0 15px;
	font-family: Arial,'Microsoft Yahei',SimSun
}

.eb-retrivepwd-cl-newlogin p {
	text-align: right;
	margin-right: 15px;
	color: #888;
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	cursor: pointer
}

.eb-retrivepwd-reg-tel,.eb-retrivepwd-reg-pwd {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -400px no-repeat
}

.eb-retrivepwd-cl-reg .eb-retrivepwd-reg-code {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -114px -359px no-repeat
}

.eb-retrivepwd-reg-code div {
	display: inline-block;
	width: 168px
}

.eb-retrivepwd-cl-reg input {
	width: 267px;
	margin-left: 10px
}

.eb-retrivepwd-reg-code input {
	margin-left: 10px;
	width: 147px
}

.eb-retrivepwd-cl-reg span {
	padding-left: 10px;
	width: 277px
}

.eb-retrivepwd-cl-reg .eb-retrivepwd-reg-clew p {
	font-size: 14px;
	display: inline-block;
	*display: inline
}

.eb-retrivepwd-reg-clew a {
	color: #e50065
}

.eb-retrivepwd-fg-codewrap b {
	display: inline-block;
	width: 111px;
	height: 40px;
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -358px no-repeat;
	margin-left: 9px;
	cursor: pointer;
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 40px;
	position: relative
}

.eb-retrivepwd-fg-codewrap em {
	position: absolute;
	top: 0;
	left: 0;
	opacity: .1;
	filter: Alpha(opacity=10);
	background: #000;
	_background: 0;
	width: 110px;
	height: 40px;
	display: none
}

.eb-retrivepwd-c-right {
	float: left
}

.eb-retrivepwd-c-right p {
	font-size: 0;
	height: 1px;
	background-color: #eef1f2;
	margin: 0 auto
}

.eb-retrivepwd-c-right .eb-retrivepwd-cr-line1 {
	width: 208px;
	background-color: #f5f6f5
}

.eb-retrivepwd-c-right p span {
	height: 1px;
	font-size: 0;
	background-color: #eef1f2;
	display: block;
	margin: 0 auto
}

.eb-retrivepwd-cr-line1 span {
	width: 206px
}

.eb-retrivepwd-cr-line2 {
	width: 210px
}

.eb-retrivepwd-cr-line3 {
	width: 212px
}

.eb-retrivepwd-c-right .eb-retrivepwd-cr-line4 {
	width: 214px;
	background-color: #f5f6f5
}

.eb-retrivepwd-cr-line4 span {
	width: 212px
}

.eb-retrivepwd-right-wrap {
	background-color: #eef1f2;
	padding: 9px 0;
	text-align: center
}

.eb-retrivepwd-right-wrap span {
	color: #757373;
	font-size: 14px
}

.eb-retrivepwd-right-wrap div {
	height: 38px;
	line-height: 38px;
	width: 180px;
	cursor: pointer;
	margin: 0 auto 12px
}

.eb-retrivepwd-right-wrap div span {
	color: #fff
}

.eb-retrivepwd-right-wrap .eb-retrivepwd-right-qqbtn {
	background: #eef1f2 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -42px no-repeat;
	margin-top: 20px
}

.eb-retrivepwd-right-wbbtn {
	background: #eef1f2 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -118px no-repeat
}

.eb-retrivepwd-right-wrap .eb-retrivepwd-right-other {
	padding: 10px 17px;
	text-align: left;
	margin: 0
}

.eb-retrivepwd-right-other b {
	display: inline-block;
	width: 38px;
	height: 38px;
	font-size: 0;
	cursor: pointer;
	margin-right: 32px
}

.eb-retrivepwd-ro-wx {
	background: #eef1f2 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -260px -1px no-repeat
}

.eb-retrivepwd-ro-360 {
	background: #eef1f2 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -182px -38px no-repeat
}

.eb-retrivepwd-right-other .eb-retrivepwd-ro-zfb {
	background: #eef1f2 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -221px -39px no-repeat;
	margin-right: 0
}

.eb-retrivepwd-reg-btn,.eb-retrivepwd-fg-btn,.eb-retrivepwd-rs-btn {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -686px no-repeat;
	text-align: center;
	cursor: pointer
}

.eb-retrivepwd-forget-nav-title {
	height: 70px;
	line-height: 70px;
	text-align: center;
	color: #5c5757;
	font-size: 20px;
	background-color: #e5e8e9;
	position: relative
}

.eb-retrivepwd-forget-nav-title span {
	display: inline-block;
	width: 148px;
	height: 66px;
	cursor: pointer
}

.eb-retrivepwd-forget-nav-title .eb-retrivepwd-nav-title-code {
	margin-right: 95px
}

.eb-retrivepwd-forget-nav-title .eb-retrivepwd-nav-title-active {
	border-bottom: 2px solid #e50065;
	color: #e50065;
	height: 66px;
	line-height: 68px;
	*line-height: 70px
}

.eb-retrivepwd-fg-con span {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	color: #333;
	font-size: 14px;
	width: 86px;
	text-align: right;
	margin-right: 10px;
	vertical-align: top
}

.eb-retrivepwd-fg-tel,.eb-retrivepwd-fg-newpwd,.eb-retrivepwd-fg-newpwd2,.eb-retrivepwd-rs-tel {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -400px no-repeat
}

.eb-retrivepwd-fg-hover {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -605px no-repeat
}

.eb-retrivepwd-fg-con .eb-retrivepwd-fg-code,.eb-retrivepwd-fg-con .eb-retrivepwd-captcha {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -114px -359px no-repeat;
	width: 168px
}

.eb-retrivepwd-fg-con .eb-retrivepwd-fg-code-hover {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -645px no-repeat
}

.eb-retrivepwd-fg-con div {
	width: 100%;
	margin: 0 auto;
	text-align: center
}

.eb-retrivepwd-fg-con input,.eb-retrivepwd-rs-tel input {
	margin-left: 10px;
	width: 266px
}

.eb-retrivepwd-fg-con p {
	display: inline-block;
	margin-bottom: 0;
	*display: inline
}

.eb-retrivepwd-fg-con div {
	margin-bottom: 10px
}

.eb-retrivepwd-fg-code input,.eb-retrivepwd-captchawrap input {
	width: 146px
}

.eb-retrivepwd-fg-con .eb-retrivepwd-fg-btn {
	height: 40px;
	line-height: 40px;
	width: 360px;
	color: #fff;
	position: relative;
	margin-left: 24px;
	outline: 0
}

.eb-retrivepwd-fg-error {
	padding-left: 203px
}

.eb-retrivepwd-fg-error b {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -186px -151px no-repeat;
	vertical-align: middle;
	margin-right: 8px
}

.eb-retrivepwd-fg-con .eb-retrivepwd-fg-btn-back {
	text-align: right;
	width: 386px;
	margin-bottom: 0
}

.eb-retrivepwd-fg-btn-back span {
	color: #666;
	display: inline;
	height: 14px;
	line-height: 14px;
	margin-right: 0;
	cursor: pointer
}

.eb-retrivepwd-fg-btn-back span:hover {
	color: #e50065
}

.eb-retrivepwd-fg-con button {
	border: 0;
	font-size: 18px
}

.eb-retrivepwd-rs-con {
	text-align: center
}

.eb-retrivepwd-rs-tel,.eb-retrivepwd-rs-btn {
	margin: 0 auto
}

.eb-retrivepwd-rs-con p {
	font-size: 14px;
	text-align: left;
	margin: 43px 0 20px 157px;
	color: #333
}

.eb-retrivepwd-rs-con .eb-retrivepwd-rs-jump {
	margin: 0 0 52px 157px
}

.eb-retrivepwd-rs-clew {
	text-align: center;
	color: #e50065;
	margin-bottom: 35px
}

.eb-retrivepwd-rs-con .b-newlrs-tel {
	margin-bottom: 20px
}

.eb-retrivepwd-rs-btn-back {
	margin-left: 76px;
	color: #e50065;
	cursor: pointer
}

.eb-retrivepwd-fg-newpwd span {
	width: 266px
}

.eb-retrivepwd-succwrap {
	text-align: center;
	margin: 40px 0 100px;
	display: none
}

.eb-retrivepwd-succ {
	width: 212px;
	margin: 0 auto
}

.eb-retrivepwd-succ div {
	float: left
}

.eb-retrivepwd-succwrap b {
	width: 57px;
	height: 57px;
	background: #fff url(http://p3.qhmsg.com/t01e32bfb97f4ad1ff0.png) 0 0 no-repeat;
	text-align: center;
	cursor: pointer;
	display: inline-block
}

.eb-retrivepwd-succright p {
	margin-left: 10px;
	text-align: left;
	color: #444
}

.eb-retrivepwd-succright .eb-retrivepwd-succ-clew1 {
	font-size: 22px;
	line-height: 22px;
	margin-bottom: 13px
}

.eb-retrivepwd-succwrap button {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -276px no-repeat;
	text-align: center;
	cursor: pointer;
	border: 0;
	color: #fff;
	font-size: 16px;
	width: 288px;
	height: 40px;
	margin-top: 60px;
	outline: 0
}

.eb-retrivepwd-fg-codewrap .eb-retrivepwd-fg-sendcode {
	background-position: 0 -442px;
	cursor: default
}

.eb-retrivepwd-fg-btn-hover {
	position: absolute;
	top: 0;
	left: 0;
	opacity: .1;
	filter: Alpha(opacity=10);
	background: #000;
	_background: 0;
	display: none;
	height: 40px;
	width: 100%
}

.eb-retrivepwd-captchawrap {
	position: relative;
	font-size: 0
}

.eb-retrivepwd-captchawrap img {
	margin-left: 10px;
	width: 110px;
	height: 40px;
	cursor: pointer;
	vertical-align: top;
	background: url(http://p7.qhmsg.com/t0185d053f3fadbf4d6.gif) center center no-repeat
}

.eb-retrivepwd-captchawrap em {
	color: #e50065;
	line-height: 14px;
	position: absolute;
	font-size: 14px;
	bottom: 1px;
	right: 54px;
	cursor: pointer;
	text-decoration: underline
}

.eb-registeok {
	width: 598px;
	height: 390px;
	background-color: #fff
}

.eb-registeok-top {
	width: 596px;
	background-color: #475e5e
}

.eb-registeok-nav {
	background-color: #a6b1b1
}

.eb-registeok-topline {
	background-color: #909e9e;
	width: 594px
}

.eb-registeok-topline-in {
	background-color: #bac2c3;
	width: 592px
}

.eb-registeok-topline p {
	background-color: #bac2c3
}

.b-line {
	margin: 0 auto;
	height: 1px;
	font-size: 0
}

.eb-registeok-nav-topline {
	background-color: #e5e8e9;
	width: 596px
}

.eb-registeok-nav-bomline {
	background-color: #eff1f1
}

.eb-registeok-nav-bomline p {
	background-color: #e5e8e9;
	width: 596px
}

.eb-registeok-nav-title {
	background-color: #e5e8e9;
	padding: 0 40px;
	position: relative
}

.eb-registeok-nav-title span {
	font-size: 20px;
	width: 106px;
	display: inline-block;
	text-align: center;
	margin: 0 74px 0 0;
	color: #5c5757;
	line-height: 66px;
	height: 66px
}

.eb-registeok-btn,.b-reg-btn {
	cursor: pointer
}

.eb-registeok-nav .b-l-active {
	border-bottom: 2px solid #27ae60;
	color: #27ae60;
	*line-height: 68px
}

.eb-registeok-nav .b-reg-active {
	border-bottom: 2px solid #e50065;
	color: #e50065;
	*line-height: 68px
}

.eb-registeok-nav-title .b-reg-btn {
	margin-right: 41px
}

.eb-registeok-nav-title .eb-registeok-icon {
	margin: 0;
	background: #e7e9e9 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 0 no-repeat;
	width: 162px;
	height: 20px;
	padding: 0
}

.eb-registeok-nav-title .b-regicon-active {
	background-position: 1px -21px
}

.eb-registeok-nav-title b,.eb-registeok-forget-nav-title b {
	cursor: pointer;
	width: 23px;
	height: 23px;
	position: absolute;
	top: 8px;
	right: 10px;
	background: #e7e9e9 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -170px 0 no-repeat
}

.eb-registeok-error {
	height: 38px;
	line-height: 38px;
	color: #f00;
	padding-left: 157px;
	font-size: 14px
}

.eb-registeok-error b {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -186px -151px no-repeat;
	vertical-align: middle;
	margin-right: 8px
}

.eb-registeok-content {
	padding-left: 40px
}

.eb-registeok-c-left {
	float: left;
	width: 303px
}

.eb-registeok-cl-newlogin div,.eb-registeok-cl-reg div,.eb-registeok-fg-con p,.eb-registeok-rs-con div {
	height: 40px;
	width: 288px;
	line-height: 40px;
	position: relative;
	margin-bottom: 8px;
	vertical-align: top;
	overflow: hidden;
	*zoom: 1
}

.eb-registeok-c-tel {
	background: #e7e9e9 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -195px no-repeat
}

.eb-registeok-c-pwd {
	background: #e7e9e9 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -235px no-repeat
}

.eb-registeok-c-code div {
	background: #e7e9e9 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -114px -359px no-repeat
}

.eb-registeok-cl-newlogin input,.eb-registeok-cl-reg input,.eb-registeok-fg-con input,.eb-registeok-rs-con input {
	width: 242px;
	height: 22px;
	font: 16px/18px arial;
	line-height: 22px\9;
	margin: 8px 10px 0 35px;
	padding: 0;
	border: 0
}

.eb-registeok-cl-newlogin span,.eb-registeok-cl-reg span {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 251px;
	padding-left: 35px;
	font-size: 14px;
	color: #dadada
}

.eb-registeok-cl-newlogin .eb-registeok-c-code div {
	width: 168px;
	float: left
}

.eb-registeok-cl-newlogin .eb-registeok-c-code input {
	margin: 1px 0 0 10px;
	width: 147px;
	float: left
}

.eb-registeok-c-code b {
	display: block;
	float: left;
	width: 111px;
	height: 40px;
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -358px no-repeat;
	margin-left: 9px
}

.eb-registeok-cl-newlogin .eb-registeok-c-code span {
	width: 157px;
	padding-left: 10px
}

.eb-registeok-cl-newlogin .eb-registeok-c-check,.eb-registeok-cl-reg .eb-registeok-reg-clew {
	height: 21px;
	line-height: 21px;
	margin-bottom: 18px
}

.eb-registeok-c-check b,.eb-registeok-reg-clew b {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -229px -144px no-repeat;
	width: 21px;
	height: 21px;
	display: inline-block;
	cursor: pointer
}

.eb-registeok-reg-clew b {
	background-position: -229px -173px
}

.eb-registeok-cl-newlogin .eb-registeok-c-check p,.eb-registeok-reg-clew p {
	line-height: 21px;
	height: 21px;
	color: #888;
	padding-left: 10px;
	display: inline;
	margin: 0;
	vertical-align: top;
	*vertical-align: 3px
}

.eb-registeok-c-check .b-nocheck,.eb-registeok-reg-clew .b-nocheck {
	background-position: -229px -116px
}

.eb-registeok-c-btn {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -276px no-repeat;
	text-align: center;
	cursor: pointer
}

.eb-registeok-cl-newlogin .eb-registeok-c-btn b,.eb-registeok-reg-btn b,.eb-registeok-rs-btn b {
	font-size: 18px;
	color: #fff
}

.eb-registeok-reg-btn b,.eb-registeok-fg-btn b,.eb-registeok-rs-btn b {
	padding: 0 15px
}

.eb-registeok-cl-newlogin p {
	text-align: right;
	margin-right: 15px;
	color: #888;
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	cursor: pointer
}

.eb-registeok-cl-reg {
	display: none
}

.eb-registeok-reg-tel,.eb-registeok-reg-pwd {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -400px no-repeat
}

.eb-registeok-cl-reg .eb-registeok-reg-code {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -114px -359px no-repeat
}

.eb-registeok-reg-code div {
	display: inline-block;
	width: 168px
}

.eb-registeok-cl-reg input {
	width: 267px;
	margin-left: 10px
}

.eb-registeok-reg-code input {
	margin-left: 10px;
	width: 147px
}

.eb-registeok-cl-reg span {
	padding-left: 10px;
	width: 277px
}

.eb-registeok-cl-reg .eb-registeok-reg-clew p {
	font-size: 14px;
	display: inline-block;
	*display: inline
}

.eb-registeok-reg-clew a {
	color: #e50065
}

.eb-registeok-reg-code b,.eb-registeok-fg-codewrap b {
	display: inline-block;
	width: 111px;
	height: 40px;
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -358px no-repeat;
	margin-left: 9px;
	cursor: pointer;
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 40px
}

.eb-registeok-c-right {
	float: left
}

.eb-registeok-c-right p {
	font-size: 0;
	height: 1px;
	background-color: #eef1f2;
	margin: 0 auto
}

.eb-registeok-c-right .eb-registeok-cr-line1 {
	width: 208px;
	background-color: #f5f6f5
}

.eb-registeok-c-right p span {
	height: 1px;
	font-size: 0;
	background-color: #eef1f2;
	display: block;
	margin: 0 auto
}

.eb-registeok-cr-line1 span {
	width: 206px
}

.eb-registeok-cr-line2 {
	width: 210px
}

.eb-registeok-cr-line3 {
	width: 212px
}

.eb-registeok-c-right .eb-registeok-cr-line4 {
	width: 214px;
	background-color: #f5f6f5
}

.eb-registeok-cr-line4 span {
	width: 212px
}

.eb-registeok-right-wrap {
	background-color: #eef1f2;
	padding: 9px 0;
	text-align: center
}

.eb-registeok-right-wrap span {
	color: #757373;
	font-size: 14px
}

.eb-registeok-right-wrap div {
	height: 38px;
	line-height: 38px;
	width: 180px;
	cursor: pointer;
	margin: 0 auto 12px
}

.eb-registeok-right-wrap div span {
	color: #fff
}

.eb-registeok-right-wrap .eb-registeok-right-qqbtn {
	background: #eef1f2 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -42px no-repeat;
	margin-top: 20px
}

.eb-registeok-right-wbbtn {
	background: #eef1f2 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -118px no-repeat
}

.eb-registeok-right-wrap .eb-registeok-right-other {
	padding: 10px 17px;
	text-align: left;
	margin: 0
}

.eb-registeok-right-other b {
	display: inline-block;
	width: 38px;
	height: 38px;
	font-size: 0;
	cursor: pointer;
	margin-right: 32px
}

.eb-registeok-ro-wx {
	background: #eef1f2 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -260px -1px no-repeat
}

.eb-registeok-ro-360 {
	background: #eef1f2 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -182px -38px no-repeat
}

.eb-registeok-right-other .eb-registeok-ro-zfb {
	background: #eef1f2 url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -221px -39px no-repeat;
	margin-right: 0
}

.eb-registeok-reg-btn,.eb-registeok-fg-btn,.eb-registeok-rs-btn {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -317px no-repeat;
	text-align: center;
	cursor: pointer
}

.eb-registeok-forget-nav-title,.eb-registeok-regsucc-nav-title {
	height: 70px;
	line-height: 70px;
	text-align: center;
	color: #5c5757;
	font-size: 20px;
	background-color: #e5e8e9;
	position: relative
}

.eb-registeok-fg-con span {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	color: #333;
	font-size: 14px;
	width: 86px;
	text-align: right;
	margin-right: 10px
}

.eb-registeok-fg-tel,.eb-registeok-fg-newpwd,.eb-registeok-fg-newpwd2,.eb-registeok-rs-tel {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -400px no-repeat
}

.eb-registeok-rs-tel-hover {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -605px no-repeat
}

.eb-registeok-fg-con .eb-registeok-fg-code {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -114px -359px no-repeat
}

.eb-registeok-fg-con div {
	width: 100%;
	margin: 0 auto;
	text-align: center
}

.eb-registeok-fg-con input,.eb-registeok-rs-tel input {
	margin-left: 10px;
	width: 266px
}

.eb-registeok-fg-con p {
	display: inline-block;
	margin-bottom: 0;
	*display: inline
}

.eb-registeok-fg-con div {
	margin-bottom: 10px
}

.eb-registeok-fg-con .eb-registeok-fg-code {
	width: 168px
}

.eb-registeok-fg-code input {
	width: 146px
}

.eb-registeok-fg-con .eb-registeok-fg-btn {
	height: 40px;
	line-height: 40px;
	width: 288px;
	color: #fff
}

.eb-registeok-fg-error {
	padding-left: 203px
}

.eb-registeok-fg-con .eb-registeok-fg-pwdwrap {
	margin-bottom: 30px
}

.eb-registeok-fg-con .eb-registeok-fg-btn-back {
	text-align: left;
	width: 30px;
	margin: 0 0 0 10px;
	cursor: pointer;
	color: #888;
	vertical-align: top
}

.eb-registeok-fg-con button {
	border: 0;
	font-size: 18px
}

.eb-registeok-rs-con {
	text-align: center
}

.eb-registeok-rs-tel,.eb-registeok-rs-btn {
	margin: 0 auto
}

.eb-registeok-rs-con .eb-registeok-rs-btn-hover {
	position: absolute;
	top: 0;
	left: 0;
	opacity: .1;
	filter: Alpha(opacity=10);
	background: #000;
	_background: 0;
	display: none;
	width: 100%;
	height: 40px
}

.eb-registeok-rs-con p {
	font-size: 14px;
	text-align: left;
	margin: 0 0 20px 157px;
	color: #333
}

.eb-registeok-rs-con .eb-registeok-rs-jump {
	margin: 0 0 52px 157px
}

.eb-registeok-rs-clew {
	text-align: center;
	color: #e50065;
	margin-bottom: 35px
}

.eb-registeok-rs-con .b-newlrs-tel {
	margin-bottom: 20px
}

.eb-registeok-rs-btn-back {
	margin-left: 76px;
	color: #e50065;
	cursor: pointer
}

.eb-registeok-fg-newpwd span {
	width: 266px
}

.eb-codesignin {
	width: 598px;
	background-color: #fff;
	height: 390px
}

.eb-codesignin-top {
	width: 596px;
	background-color: #475e5e
}

.eb-codesignin-nav {
	background-color: #a6b1b1
}

.eb-codesignin-topline {
	background-color: #909e9e;
	width: 594px
}

.eb-codesignin-topline-in {
	background-color: #bac2c3;
	width: 592px
}

.eb-codesignin-topline p {
	background-color: #bac2c3
}

.b-line {
	margin: 0 auto;
	height: 1px;
	font-size: 0
}

.eb-codesignin-con {
	margin-bottom: 66px
}

.eb-codesignin-error {
	height: 38px;
	line-height: 38px;
	color: #f00;
	padding-left: 40px;
	font-size: 14px
}

.eb-codesignin-codewrap b {
	display: inline-block;
	width: 111px;
	height: 40px;
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -358px no-repeat;
	margin-left: 9px;
	cursor: pointer;
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 40px;
	position: relative
}

.eb-codesignin-codewrap em {
	position: absolute;
	top: 0;
	left: 0;
	opacity: .1;
	filter: Alpha(opacity=10);
	background: #000;
	_background: 0;
	width: 110px;
	height: 40px;
	display: none
}

.eb-codesignin-nav-title {
	height: 70px;
	line-height: 70px;
	text-align: center;
	color: #5c5757;
	font-size: 20px;
	background-color: #e5e8e9;
	position: relative
}

.eb-codesignin-nav-title span {
	display: inline-block;
	width: 148px;
	height: 66px;
	cursor: pointer
}

.eb-codesignin-nav-title .eb-codesignin-nav-title-code {
	margin-right: 95px
}

.eb-codesignin-nav-title .eb-codesignin-nav-title-active {
	border-bottom: 2px solid #e50065;
	color: #e50065;
	height: 66px;
	line-height: 68px;
	*line-height: 72px
}

.eb-codesignin-con span {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	color: #333;
	font-size: 14px;
	width: 86px;
	text-align: right;
	margin-right: 10px;
	vertical-align: top
}

.eb-codesignin-con div {
	width: 100%;
	margin: 0 auto;
	text-align: center
}

.eb-codesignin-con div {
	margin-bottom: 10px
}

.eb-codesignin-con .eb-codesignin-fg-code {
	width: 168px
}

.eb-codesignin-code input {
	width: 146px
}

.eb-codesignin-con .eb-codesignin-btn {
	height: 40px;
	line-height: 40px;
	width: 360px;
	color: #fff;
	position: relative;
	margin: 40px 0 0 24px;
	outline: 0;
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -686px no-repeat;
	text-align: center;
	cursor: pointer
}

.eb-codesignin-btn b {
	font-family: Arial,'Microsoft Yahei',SimSun
}

.eb-codesignin-error {
	padding-left: 203px
}

.eb-codesignin-error b {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -186px -151px no-repeat;
	vertical-align: middle;
	margin-right: 8px
}

.eb-codesignin-con .eb-codesignin-btn-back {
	text-align: right;
	width: 386px;
	margin-bottom: 0
}

.eb-codesignin-btn-back span {
	color: #666;
	display: inline;
	height: 20px;
	line-height: 20px;
	margin-right: 0;
	cursor: pointer
}

.eb-codesignin-btn-back span:hover {
	color: #e50065
}

.eb-codesignin-con button {
	border: 0;
	font-size: 18px
}

.eb-codesignin-btn-hover {
	position: absolute;
	top: 0;
	left: 0;
	opacity: .1;
	filter: Alpha(opacity=10);
	background: #000;
	_background: 0;
	display: none;
	height: 40px;
	width: 100%
}

.eb-codesignin-con p {
	height: 40px;
	width: 288px;
	line-height: 40px;
	position: relative;
	margin-bottom: 8px;
	vertical-align: top;
	overflow: hidden;
	*zoom: 1
}

.eb-codesignin-tel {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -400px no-repeat
}

.eb-codesignin-tel-hover {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -605px no-repeat
}

.eb-codesignin-con p {
	display: inline-block;
	margin-bottom: 0;
	*display: inline
}

.eb-codesignin-con input {
	height: 22px;
	font: 16px/18px arial;
	line-height: 22px\9;
	margin: 9px 10px 0 10px;
	padding: 0;
	border: 0;
	width: 266px
}

.eb-codesignin-con .eb-codesignin-code,.eb-codesignin-con .eb-codesignin-captcha {
	width: 168px;
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) -114px -359px no-repeat
}

.eb-codesignin-con .eb-codesignin-code-hover,.eb-codesignin-con .eb-codesignin-captcha-hover {
	background: #fff url(http://p9.qhmsg.com/t018181209a7f56f54d.png) 0 -645px no-repeat
}

.eb-codesignin-code input,.eb-codesignin-captcha input {
	width: 146px
}

.eb-codesignin-captchawrap {
	font-size: 0
}

.eb-codesignin-captchawrap img {
	margin-left: 10px;
	width: 110px;
	height: 40px;
	cursor: pointer;
	vertical-align: top;
	background: url(http://p7.qhmsg.com/t0185d053f3fadbf4d6.gif) center center no-repeat
}

.eb-codesignin-codewrap .eb-codesignin-sendcode {
	background-position: 0 -442px;
	cursor: default
}

.eb-codesignin-captchawrap {
	position: relative
}

.eb-codesignin-captchawrap em {
	color: #e50065;
	line-height: 14px;
	position: absolute;
	font-size: 14px;
	bottom: 1px;
	right: 54px;
	cursor: pointer;
	text-decoration: underline
}

body {
	background-color: #f4f4f4
}

a {
	color: #222
}

.p-body {
	position: relative;
	padding-top: 17px
}

.p-body a:hover {
	color: #1db69a
}



.g-wide .g-wrap {
	width: 1180px
}